* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    background: rgb(90,163,218);
    min-height: 200vh;
}



.navbar{
    position: fixed;
    background-image: url(/images/navbar.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    z-index: 100;
    transition: all 0.5s ease;
}


.navbar_container {
    position: relative;
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    height: 160px;
    width: 50%;
    margin: 0 auto;
    padding: 0 10px;
    z-index: 1;
}

.navbar-logo {
    padding-top: 53px;
    padding-right: 50px;
    filter: drop-shadow(3px 4px 2px #39200d);
}


.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    min-width: 10px
}

.navbar_item {
    height: 50px;
}

.navbar_links {
    font-weight: 700;
    display: inline-block;
    text-shadow: 2px 3px 3px #39200d;
    color:#fff;
    justify-content: center;
    text-decoration: none;
    letter-spacing: .5px;
    padding: 10px 50px;
    height: 100%;


}

.fa-discord {
    padding: 3px;
}

.navbar_links:hover{
    background: url(images/hover-navbar.png) no-repeat center/ cover;
    background-size: 75%;
    filter: drop-shadow(2px 2px 3px #39200d);
}


.hero-section {
    width: 100%;
    height: 100vh;
    background: url(images/hero-background.png) no-repeat center/ cover;
}


#hero-logo{
    position: relative;
    width: 75%;
}

.hero_container {
    position: relative;
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 110vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 10px;
}

.hero_content {
    text-align: center;
    position: static;
    transition: all 0.5s ease;
    height: auto;
}

.hero_content h1 {
    color: #78461f;
    font-weight: 900;
    text-shadow: 2px 2px 1px #171102;
    font-size: 75px;
    transition: all 0.5s ease;
}

.hero_content h2 {
    color: #fff;
    font-weight: 900;
    font-size: 35px;
    padding: 20px 50px;
    transition: all 0.5s ease;
}

.hero_content p {
    padding: 10px 10px;
    background-color: #39200d;
    background-size: 50%;
    border-radius: 20px;
    font-weight: 700;
    font-size: 1.5rem;
    color: #90e0ef;
}
